@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&family=Roboto&display=swap");
body {
    margin: 0;
    padding: 0;
}
.flex-container{
  
    background-color: white;
    height: 60px;
    padding left: 50px;
    display: flex;
    justify-content: space-between; 
    margin-top: 0;
 
}

.flex-container .logo{
    padding-left: 100px;
    padding-top: 7px;
}


nav a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;     
     height: 68%;
     float: left;
     padding-top: 15px;
     padding-right: 55px;
     padding-left: 20px;

}




.big-screen a {
    display: block;
    float: left;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: black;
    text-decoration: none;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 0px;
}

.big-screen a:active {
    text-decoration: underline;
}
.menu-toggle {
    visibility: hidden;
    display: none;
}
.btn-menu {
    visibility: hidden;
    display: none;
}
button {
    visibility: hidden;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 800px) {
    .navigation {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        margin: 0;
    }

    .big-screen {
        display: none;
    }
    .big-screen a {
        display: none;
    }

    .btn-menu {
        visibility: visible;
        display: flex;
        float: none;
        width: 100%;
        justify-content: center;
        margin: 0;
    }
    .btn-menu button {
        float: none;
        visibility: visible;
        margin: 0;
        padding: 0;
        width: 100px;
        height: 30px;
        border: none;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        background-color: DodgerBlue;
    }
    button i {
        color: white;
        width: 100px;
        padding: 0;
        margin: 0;
    }
    #menu-toggle {
        display: flex;
        justify-content: center;
        float: none;
        width: 100%;
        font-family: "raleway", sans-serif;
        font-size: 16px;
    }
    #menu-toggle p {
        text-align: center;
        font-family: "raleway", sans-serif;
        font-size: 15px;
        font-weight: 600;
    }
    #menu-toggle a {
        width: 100%;
        text-decoration: none;
        color: black;

        font-family: "raleway", sans-serif;
        font-size: 16px;
    }
}


.flexhero-header{    
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: DodgerBlue;
    text-align: center;
}

h1{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 2em;    
    margin-bottom: 0;
}

h2{
    
        color: #ffffff;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5em;
        padding-top: 0;
        margin-bottom: 0;
    
}

input[type=text] {
    padding: 5px 10px;
    align: left;
    width: 50%;
    height: 35px;
    border: none;
    border-color: cornflowerblue;
    transition: border-color 0.8s ease-in-out;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
  }

  .button{
      background-color: rgb(238, 17, 51);
      height: 45px;
      margin: 15px;
      border: none;
      font-family: 'roboto', sans-serif;
      font-size: 14px;
      color: #fff;
      padding: 15px;
  }
  .button:hover {
    background-color: rgb(212, 14, 43);
  }

  .articles {
      
     background-color:lightgray;     
     display: flex;
     flex-wrap: wrap; 
     justify-content: space-evenly;
     border: tomato;
    
  }

  .cont {
      justify-content: center;
        align-items: center;
        align-content: center;
        width: 360px;
        padding: 20px;
        background-color: white;
        margin-top: 30px;
  }

  /*{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;  
    width: 380px;
    margin: 20px;
    text-align: justify;  
    font-size: 30px;     
    padding-left: 30px;
    padding-right: 30px;        
  }
*/
  .cont img{
      width: 360px;
      justify-self: center;
    }
    .cont p{
        justify-content: left;
        align-items: left;
        float: none;
    }
    .arti-title a {
        font-family: 'Raleway', sans-serif;
        font-size: 26px;
        font-weight: bold;
        text-decoration: none;
        color: black;
        
    }
    .arti-title a:hover {
        text-decoration: underline;
    }
    .author p{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        text-decoration: none;
        color: gray;
        text-align: left;
    }
    .author a{
        text-decoration: none;
    }
    .author a:hover {
        text-decoration: underline;
    }

    .content{        
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color:black;
        text-align: left;
        margin-bottom: 15px;

    }
    .continue-reading{
        margin-top: 30px;
        margin-bottom: 30px;
        
    }
    .continue-reading a{
        font-size: 14px;
        color: white;
        background-color: rgb(238, 17, 51);
        padding: 10px;
        text-decoration: none;
        
    }

    .continue-reading a:hover{
        background-color: #d6102e;
    }

    .review-comment {
        display: block;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .review-comment img {
        height: 20px;
        width: 20px;
        padding-right: 10px;
    }
    
    .reviews {
        display: flex;
        justify-content: left;
        margin-bottom: 5px;
    }
    
    .comments {
        display: flex;
        justify-content: left;
        margin-bottom: 20px;
    }
    
    .review-comment a {
        font-family: "raleway";
        font-size: 14px;
        color: gray;
        text-decoration: none;
        padding-top: 4px;
    }
    .review-comment a:hover {
        color: black;
    }
    
    .footer {
        display: flex;
        justify-content: center;
        align-content: center;
        height: 50px;
        background-color: black;
        color: white;
        padding-bottom: 20px;
    }
    
    .footer a {
        color: white;
        text-decoration: none;
        margin-left: 10px;
    }