.body
{
    background: url("https://i.ytimg.com/vi/8ZMxLZqL73M/maxresdefault.jpg");
}

.body h1
{
  color: blanchedalmond;
  text-align: center;
}

.body h4
{
    color: blanchedalmond;
    text-align: center;
}