.background {
    display: block;
    align-items: center;
    background-color: #e6eef0;
    border: 2px double black;
    width: 1000px;
    height: 350px;
    justify-content: center;
    padding: 100px;
}

.background div {
    justify-items: center;
    align-items: center;
}

.upper-body {
    width: 400px;
    height: 160px;
    background-color: #a0bfbd;
    border: 7px double #80aaa6;
    border-radius: 500% 500% 0% 0%;
    margin-left: 151px;
}

.left {
    float: left;
    width: 75px;
    height: 140px;
    margin-top: 30px;
    background-color: #e5edef;
    margin-left: 18px;
    border-radius: 90% 10% 10% 10%;
}
.right {
    float: right;
    width: 75px;
    height: 140px;
    margin-top: 30px;
    background-color: #e5edef;
    margin-right: 18px;
    border-radius: 10% 90% 10% 10%;
}

.middle {
    float: left;
    width: 188px;
    height: 145px;
    background-color: #e5edef;
    border-radius: 20%;
    margin-top: 0px;
    margin-left: 5px;
}

.middledrop {
    display: block;
    border: 7px double #80aaa6;
    float: left;
    width: 198px;
    height: 280px;
    margin-top: 18px;
    border-radius: 20%;
}
.lower-body {
    background-color: #a0bfbd;
    border: 7px double #80aaa6;
    width: 700px;
    height: 180px;
    border-radius: 90% 90% 50% 50%;
    margin-top: -30px;
}

.headlight {
    width: 20px;
    height: 40px;
    margin-top: -35px;
    margin-left: 700px;
    background-color: #ffb16d;
    border-radius: 0% 50% 50% 0%;
}

.taillight {
    position: relative;
    width: 20px;
    height: 40px;
    margin-top: 80px;
    margin-left: -20px;
    background-color: #b5a89b;
    border-radius: 50% 0% 0% 50%;
}

.tyre-left {
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
    margin-top: -55px;
    margin-left: 30px;
    background-color: #b5a89b;
    border: 5px double #d7cdc2;
    border-radius: 50%;
}
.tyre-leftin {
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 24px;
    margin-left: 24px;
    background-color: #d2e2e0;
    border-radius: 50%;
}
.tyre-right {
    position: relative;
    width: 150px;
    height: 150px;
    margin-top: -55px;
    margin-left: 70px;
    background-color: #b5a89b;
    border: 5px double #d7cdc2;
    border-radius: 50%;
}
.tyre-rightin {
    position: relative;
    width: 100px;
    height: 100px;
    margin-top: 24px;
    margin-left: 24px;
    background-color: #d2e2e0;
    border-radius: 50%;
}
