@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:ital,wght@1,100&family=Roboto&display=swap');


.body{
  
    opacity:0.9;
    background: url("bgimg.jpg");
    background-attachment: fixed;
    background-color: brown;
    font-family: 'Poppins', sans-serif;
  

}

h1 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
  font-family: 'lato', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

 h3 {
  margin: 0;
  padding-top: o;
  padding-bottom: 20px;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}

.label {
  font-family: 'roboto', sans-serif;
  font-size: 18px;
}

p {
  color:#ffffe1;
  text size: 50px;
}

  .container {

    display: flex;    
    background-color:#3a168d;
    opacity: 0.9;
    height: min-content;
    padding:10px;
    margin: auto;   
    fill-opacity: 1;
    text size: 30px;
    width: 750px;
    
         
  }
  

 
input[type=text] {
    padding: 5px 10px;
    align: left;
    width: 100%;
    height: 40px;
    border: none;
    border-color: cornflowerblue;
    border-radius: 8px;
    transition: border-color 0.8s ease-in-out;
    font-family: 'roboto', sans-serif;
    font-size: 18px;
  }

  .container .block {
    width: ;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    text-align: center;
  }
  